#contactForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  #contactForm {
    width: 60%;
  }
}

.square {
  width: 1000px; 
  height: 1000px;
}

#nav-bar {
  display: flex;
  position: fixed;
  background-color: darkblue;
  width: 100%;
  justify-content: space-between;
}

#nav-bar-logo {
  width: 5em;
  height: 5em;
}

.nav-link {
  display: flex;
  color: white;
  align-self: center;
  border: white;
  margin: 0;
  padding: 1em;
}

#link-container {
  display: flex;
}